<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>Pedido</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-list>

      <ion-item>
        {{pedidos.endereco}}
      </ion-item>
      <ion-item>
        {{pedidos.telefone}}
      </ion-item>
      <ion-item *ngIf="pedidos.total">Valor Total: {{ pedidos.total | currency: 'BRL' }}</ion-item>
      <!-- <ion-item> 
        <ion-input type="text" [(ngModel)]="pedidos.endereco" placeholder="endereço"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="pedidos.telefone" placeholder="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="pedidos.total" placeholder="total"></ion-input>
      </ion-item>-->
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="savePedido()" expand="block">
        Salvar pedido
      </ion-button>
    </ion-toolbar>
  </ion-footer>
